
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
	  <div class="container-fluid">
		 <div class="row mb-2">
			<div class="col-sm-6">
			  <h1 class="m-0">Profile</h1>
			</div><!-- /.col -->
		 </div><!-- /.row -->
	  </div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="content">
	  <div class="container-fluid">

		 <!-- Main row -->
		 <div class="row">

			<!-- left col -->
			<section class="col-lg-6 connectedSortable">
			  Profil amidje idriza
			</section>
			<!-- left col -->

			<!-- right col -->
			<section class="col-lg-6 connectedSortable">
			  Modza
			</section>
			<!-- right col -->

		 </div>
		 <!-- /.row (main row) -->
		  
	  </div>
	  <!-- /.container-fluid -->
	</section>
	<!-- /.content -->
 </div>
 <!-- /.content-wrapper -->
 <footer class="main-footer">
	<strong>Copyright &copy; 2025 <a href="https://ilhanklisura.com" target="_blank">Klisura Ilhan</a>.</strong>
	All rights reserved.
 </footer>
</div>
<!-- ./wrapper -->